doctype html
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-with, initial-scale=1')
        title NodeAuth
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        nav.navbar.navbar-default.navbar-fixed-top

            .container

                .navbar-header
                    button.navbar-toggle.collapse(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle Navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') NodeAuth

                #navbar.navbar-collapse.collapse

                    ul.nav.navbar-nav
                        li(class= ( title == 'Members' ? 'active' : '' ))
                            a(href='/') Members
                        li(class= ( title == 'Register' ? 'active' : '' ))
                            a(href='/users/register') Register
                        li(class= ( title == 'Login' ? 'active' : '' ))
                            a(href='/users/login') Login

                    ul.nav.navbar-nav.navbar-right
                        li(class= ( title == 'Logout' ? 'active' : '' ))
                            a(href='/users/logout') Logout
        .container
            block content

        footer.footer
            .container
                p.text-muted &copy; 2017-18. All Rights Reserved. NodeAuth


        script (src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script (src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
