extends layout

block content
    h3 #{title}
    form.well(method='post', action='/users/register', enctype='multipart/form-data')
        .form-group
            label Name
            input.form-control(name='name', type='text', placeholder='Enter Name')
        .form-group
            label Email
            input.form-control(name='email', type='email', placeholder='Enter Email')
        .form-group
            label Username
            input.form-control(name='username', type='text', placeholder='Enter Username')
        .form-group
            label Password
            input.form-control(name='password', type='password', placeholder='Enter Password')
        .form-group
            label Confirm Password
            input.form-control(name='confirm_password', type='password', placeholder='Confirm Password')
        .form-group
            label Profile Image
            input(name='profileImage', type='file')
        input.btn.btn-primary(name='submit', type='submit', value='Register')

